
.controls > button:not(:first-child) {
  margin-left: 10px;
}
ul {
  list-style-type: none;
  margin: 20px 0px 0px 0px;
  padding: 0px;
  li {
    border-bottom: 1px solid #DDD;
    font-size: 0.9rem;
    margin-bottom: 2px;
    font-family: Consolas, Lato, sans-serif; ;

    &.regular {
     }
    &.error {
      color: red;
    }
    &.complete {
      color: blue;
      border: 0px;
      margin-top: 2px;
      margin-bottom: 20px;
    }
  }
}