<h1>{{ operatorCategory }} Operators</h1>
<h2>{{ operatorName}}</h2>
<ul class="operator-description" *ngIf="operatorDescription?.length > 0">
  <li *ngFor="let desc of operatorDescription">{{desc}}</li>
</ul>
<iframe *ngIf="stackblitzUrl" [src]="stackblitzUrl"></iframe>

<select (change)="onChange($event.target.value)">
  <option *ngFor="let source of sources" [value]="source.desc">{{source.desc}}</option>
</select>

<div class="controls">
  <button *ngIf="!subscribed" class="subscribe" (click)="onSubscribe()">Subscribe</button>
  <button *ngIf="subscribed" class="unsubscribe" (click)="onUnsubscribe()">Unsubscribe</button>
  <button class="clear" (click)="onClear()" [disabled]="consoleLines?.length === 0">Clear</button>
</div>



<ul class="console">
  <li *ngFor="let item of consoleLines" [class]="item.type">{{item.text}}</li>
</ul>